body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}

header .logo {
    font-size: 1.5rem;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

header nav a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    margin: 1rem 0;
}

.section {
    margin: 1rem 2rem;
    padding: 1rem;
    background: white;
    border-radius: 5px;
}

.instrucciones {
    margin: 1rem 2rem;
    padding: 1rem;
    background: white;
    border-radius: 5px;
}

.faq {
    margin-bottom: 1rem;
}

.faq-question {
    width: 100%;
    background-color: #444;
    color: white;
    cursor: pointer;
    padding: 1rem;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.1rem;
    transition: background-color 0.3s;
}

.faq-question:hover {
    background-color: #555;
}

.faq-answer {
    padding: 1rem;
    background-color: #e9e9e9;
    display: none;
}

.button-container {
    text-align: center;
    margin: 2rem 0;
}

button[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1rem;
}

button[type="submit"]:hover {
    background-color: #555;
}

button[type="button"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1rem;
}

button[type="button"]:hover {
    background-color: #555;
}

.faq-question.selected {
    background-color: #0066cc; /* Color de fondo para la pregunta seleccionada */
    color: white; /* Color de texto para la pregunta seleccionada */
}

.verso {
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}

.escala {
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}

/* Tooltip for the hoveover */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}